body {
    overflow: hidden;
}

#login-jumbotron {
    height: 100%;
}

#main-container {
    margin-top: 10%;
}

#desciption-div {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: default;
}

.meeting-panel {
    margin: 10px 15px;
}

.meeting-panel:hover {
    background-color: #F5F5F5;
    cursor: pointer;
}

.meeting-date-time {
    text-align: right;
}