<div class="panel-heading" role="tab" id="heading-default">
    <a type="button" class="close agenda-delete-btn" onclick="removeAgenda(event)">
        <span aria-hidden="true">&times;</span>
    </a>
    <h4 class="panel-title">
        <a id="title-default" role="button" data-toggle="collapse" data-parent="#agenda"
           href="#collapse-default"
           aria-expanded="true" aria-controls="collapse-default">
            <span id="num-default">#1</span>
            <input type="text" class="agenda-title-input" placeholder="Title" autocomplete="off">
        </a>
    </h4>
</div>
<div id="collapse-default" class="panel-collapse collapse" role="tabpanel"
     aria-labelledby="heading-default">
    <div class="panel-body">
        <div class="row">
            <div class="col-xs-3">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="form-horizontal">
                            <div class="form-group">
                                <label for="" class="col-xs-3 control-label">From</label>
                                <div class="col-xs-9">
                                    <input class="form-control text-center agenda-time agenda-time-start" type="text" value=""
                                           data-date-format="hh:ii" readonly>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="" class="col-xs-3 control-label">To</label>
                                <div class="col-xs-9">
                                    <input class="form-control text-center agenda-time agenda-time-end" type="text" value=""
                                           data-date-format="hh:ii" readonly>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-9">
                <label for="">Issues</label>
                <div class="input-group issue-input">
                    <div class="input-group-addon agenda-issue-btn">
                        <span class="glyphicon glyphicon-minus" aria-hidden="true" onclick="removeIssue(event)"></span>
                    </div>
                    <input type="text" class="form-control agenda-input">
                    <div class="input-group-addon agenda-issue-btn">
                        <span class="glyphicon glyphicon-plus" aria-hidden="true" onclick="newIssue(event)"></span>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>