<div class="input-group-addon agenda-issue-btn">
    <span class="glyphicon glyphicon-minus" aria-hidden="true" onclick="removeIssue(event)"></span>
</div>
<input type="text" class="form-control agenda-input"></input>
<div class="input-group-addon agenda-issue-btn">
    <span class="glyphicon glyphicon-plus" aria-hidden="true" onclick="newIssue(event)"></span>
</div>