<div class="panel panel-default meeting-panel">
    <div class="panel-body">
        <div class="meeting-name-location-host">
            <strong class="meeting-name">Scrum meeting</strong>
            <small>at</small>
            <mark class="meeting-location">Summer Books</mark>
        </div>
        <div class="meeting-date-time text-right">
            <span class="meeting-date">xxxx/xx/xx</span>
            &nbsp;
            <span class="meeting-time">xx:xx</span>
            &nbsp;
            <small>hosted by</small>
            <u>Ray Zhang</u>
        </div>
    </div>
</div>