

    <div class="panel-body" id="panel--list-body">
        <div class="meeting-name-location-host">
            <strong class="meeting-name" id="meeting-list-name">Scrum meeting</strong>
            <small>在</small>
            <mark class="meeting-location" id="meeting-list-location">Summer Books</mark>
            <small>召开</small>
        </div>
        <div class="meeting-date-time text-right">
            <span class="meeting-date" id="meeting-list-date">yyyy-MM-dd hh:mm</span>
            &nbsp;
            <small>由</small>
            <u class="meeting-host" id="meeting-list-host">Ray Zhang</u>
            <small>主持</small>
        </div>
    </div>

