<!-- Modal -->
<div class="modal fade" id="new-meeting-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">新建会议</h4>
            </div>
            <div class="modal-body">
                <input class="form-control" type="text" id="meeting-subject" placeholder="主题" autocomplete="off">
                <br>
                <div class="row">
                    <div class="col-xs-4">
                        <div class="input-group">
                            <div class="input-group-addon">开始</div>
                            <input class="form-control text-center" type="text" value="" id="meeting-date-start"
                                   data-date-format="yyyy-mm-dd hh:ii" readonly>
                        </div>
                        <br>
                        <div class="input-group">
                            <div class="input-group-addon">结束</div>
                            <input class="form-control text-center" type="text" value="" id="meeting-date-end"
                                   data-date-format="yyyy-mm-dd hh:ii" readonly>
                        </div>
                        <br>
                        <div class="form-control">
                            <input type="text" class="col-xs-12 no-decoration-textbox" placeholder="记录员">
                        </div>
                    </div>
                    <div class="col-xs-8">
                        <input class="form-control" type="text" id="meeting-location" placeholder="地点"
                               autocomplete="off">
                        <br>
                        <div class="form-control">
                            <input type="text" class="col-xs-12 no-decoration-textbox" placeholder="与会者">
                        </div>
                        <br>
                        <div class="form-control">
                            <input type="text" class="col-xs-12 no-decoration-textbox" placeholder="列席者">
                        </div>
                    </div>
                </div>
                <br>
                <label for="meeting-description">会议描述</label>
                <div class="form-control editble-div" id="meeting-description" contenteditable="true"></div>
                <br>
                <label for="agenda">议程</label>
                <div class="panel-group" id="agenda" role="tablist" aria-multiselectable="true">
                </div>
                <div class="panel panel-default">
                    <button class="btn btn-default btn-block add-agenda-button" onclick="newAgenda()">
                        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                    </button>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <button type="button" class="btn btn-primary">保存会议</button>
            </div>
        </div>
    </div>
</div>