<!DOCTYPE html>
<html style="height: 100%">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title><%= title %></title>
</head>
<body style="height: 100%">
<div class="jumbotron" id="loginJumbotron">
    <div class="container" id="mainContainer">
        <div class="row">
            <div class="col-md-6">
                <h2>Welcome to</h2>
                <h1>Meeting Assistant</h1>
                <p>This tool can help you improve the experience of holding a meeting!</p>
            </div>
            <div class="col-md-4 col-md-offset-2">
                <form>
                    <div class="form-group">
                        <label for="username">Username</label>
                        <input type="text" class="form-control" id="username" placeholder="Username">
                    </div>
                    <div class="form-group">
                        <label for="password">Password</label>
                        <input type="password" class="form-control" id="password" placeholder="Password">
                    </div>
                    <br>
                    <button type="button" class="btn btn-success btn-block" onclick="logIn()">Login</button>
                </form>
            </div>
        </div>
    </div>
</div>
<% include includes/css %>
<% include includes/js %>
</body>
</html>
