<!DOCTYPE html>
<html style="height: 100%">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>Meeting</title>
    <% include includes/css %>
    <% include includes/js %>
    <link rel="stylesheet" href="/lib/smalot-bootstrap-datetimepicker/css/bootstrap-datetimepicker.min.css">
    <script src="/lib/smalot-bootstrap-datetimepicker/js/bootstrap-datetimepicker.min.js"></script>
    <script src="/javascripts/meeting.js"></script>
</head>
<body style="height: 100%">
<% include includes/meeting/meetingCompose%>
<% include includes/nav %>
<div class="container">
    <div class="row">
        <div class="col-md-6" id="left-panel">
            <% include includes/meeting/meetingBoard %>
        </div>
        <div class="col-md-6" id="right-panel">
            <% include includes/meeting/meetingBoard %>
        </div>
    </div>
</div>
</body>
</html>
