<!DOCTYPE html>
<html style="height: 100%">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>Meeting</title>
</head>
<body style="height: 100%">
<% include includes/meeting/meetingCompose%>
<% include includes/nav %>
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <% include includes/meeting/meetingStatusPanel %>
        </div>

        <div class="col-md-6">
            <% include includes/meeting/meetingStatusPanel %>
        </div>
    </div>
</div>
<% include includes/css %>
<% include includes/js %>
<script>
    $.ajax({
        url: '/meeting',
        method: 'POST',
        headers: {'x-access-token': localStorage.getItem('token')}
    }).done(function (data) {
        if (data.success) {
            $("#user").html(data.user + "&nbsp;<span class='caret'></span>");
        } else {
            logOut();
        }
    });

    $(".meeting-status-panel:first").addClass("panel-info");
    $(".meeting-status-panel:last").addClass("panel-success");
    $(".meeting-status:first").text("Not Done");
    $(".meeting-status:last").text("Already Done");

</script>
<script src="/javascripts/meeting.js"></script>
</body>
</html>
