<!DOCTYPE html>
<html style="height: 100%">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>Meeting</title>
</head>
<body style="height: 100%">
<% include includes/nav %>
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title">Will do</h3>
                </div>
                <div class="panel panel-default meeting-panel">
                    <div class="panel-body row">
                        <span class="meeting-name col-xs-7">Scrum meeting</span>
                        <div class="meeting-date-time col-xs-5">
                            <span class="meeting-date">2016/8/2</span>
                            &nbsp;
                            <span class="meeting-time">9:30</span>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default meeting-panel">
                    <div class="panel-body row">
                        <span class="meeting-name col-xs-7">Scrum meeting</span>
                        <div class="meeting-date-time col-xs-5">
                            <span class="meeting-date">2016/8/2</span>
                            &nbsp;
                            <span class="meeting-time">9:30</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="panel panel-success">
                <div class="panel-heading">
                    <h3 class="panel-title">Already done</h3>
                </div>
                <div class="panel panel-default meeting-panel">
                    <div class="panel-body row">
                        <span class="meeting-name col-xs-7">Scrum meeting</span>
                        <div class="meeting-date-time col-xs-5">
                            <span class="meeting-date">2016/8/2</span>
                            &nbsp;
                            <span class="meeting-time">9:30</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<% include includes/css %>
<% include includes/js %>
</body>
</html>
