<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title><%= title %>Setting</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
<div class="row">
    <div class="col-md-1">
        <select class="form-control input-lg">年</select>
    </div>
    <div class="col-md-1">
        <select class="form-control input-lg">月</select>
    </div>
    <div class="col-md-1">
        <select class="form-control input-lg">日</select>
    </div>
    <div class="col-md-1">
        <select class="form-control input-lg">小时</select>
    </div>
    <div class="col-md-1">
        <select class="form-control input-lg">分</select>
    </div>
</div>
</body>
</html>