<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>User</title>
</head>
<body>
<% include includes/nav %>
<% include includes/css %>
<% include includes/js %>
<script>
    $.ajax({
        url: '/user',
        method: 'POST',
        headers: {'x-access-token': localStorage.getItem('token')}
    }).done(function (data) {
        if (data.success) {
            $("#user").html(data.user + "&nbsp;<span class='caret'></span>");
        } else {
            logOut();
        }
    });

    $("#add-meeting-button").hide();
</script>
</body>
</html>
